<%= form_with model: @user do |form| %>
    <%= form.label :name %>
    <div class='mb-3 col-md-2'>
    <%= form.text_field :name, class: 'form-control' %>
    </div>
    <%= form.submit 'Create User', class: 'btn btn-success' %>
  <% end %>
  