<% presenter = PostPresenter.new(@post) %>
<p>Title: <%= presenter.parsed_title %></p>
<p>Body: <%= presenter.body %></p>
<p>
Comments:
</p>
<% @comments.each do |comment| %>
<p>
  <% comment_presenter = CommentPresenter.new(comment) %>
  <%= comment_presenter.parsed_content %>
<% end %>
</p>